*{
    font-family:  'Courier New', Courier, monospace;
}

h3{
   color: purple;
}
#login {
    background-color:white;
}
#signup{
    background-color: red;
    color: white;
}
/* descendant selectors */
p a{
    color: purple;
    background-color : yellow;
}
